<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Top Tracks</title>
</head>
<body>
    <h1>Top Tracks</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Artist(s)</th>
        </tr>
        <tr th:each="track: ${tracks}">
            <td><a th:href="${track.uri}"><p th:text="${track.name}"></p></a></td>
            <td>
                <ul th:each="artist: ${track.artists}">
                    <li th:text="${artist.name}"></li>
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>